.App {
  /* text-align: center; */
  /* margin: 2rem; */
}

.center {
  text-align: center;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

 /* body {
  height: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
  background-size: cover;
} */


.form {
  padding: 0px 20px 20px;
}

p {
  position: relative;
  margin-bottom: 1em;
}

/* #compound_button {
  background: url('./assets/logo.png')
} */