.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

body {
  background-image: url("assets/background1.jpg");
  background-color: #cccccc;
 }